<a href="https://colab.research.google.com/github/uremember809/Project-Euler/blob/master/Project_Euler_(41_45).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%load_ext lab_black

<div id="content">

<h2>Pandigital prime</h2><div id="problem_info"><h3>Problem 41</h3></div>
<div class="problem_content" role="problem">

<p>We shall say that an <i>n</i>-digit number is pandigital if it makes use of all the digits 1 to <i>n</i> exactly once. For example, 2143 is a 4-digit pandigital and is also prime.</p>
<p>What is the largest <i>n</i>-digit pandigital prime that exists?</p>

</div><br>
<br></div>

In [0]:
import itertools

In [0]:
def is_prime(n):
    if n < 2:
        return False
    if n < 4:
        return True
    for i in range(2, int(n ** .5 + 1) + 1):
        if n % i == 0:
            return False
            break
    else:
        return True

In [0]:
%%time
l = 0
for i in range(9, 1, -1):
    if is_prime(l):
        break
    for j in itertools.permutations(range(1, i + 1)):
        l = "".join(list(str(k) for k in j))
        l = int(l)
        if is_prime(l):
            try:
                if l > max_:
                    max_ = l
            except:
                max_ = l
print(f"the largest pan prime is {max_}")

the largest pan prime is 7652413
CPU times: user 2.53 s, sys: 0 ns, total: 2.53 s
Wall time: 2.53 s

<div id="content">

<h2>Coded triangle numbers</h2><div id="problem_info"><h3>Problem 42 </h3></div>
<div class="problem_content" role="problem">
<p>The <i>n</i><sup>th</sup> term of the sequence of triangle numbers is given by, <i>t<sub>n</sub></i> = Â½<i>n</i>(<i>n</i>+1); so the first ten triangle numbers are:</p>
<p style="text-align:center;">1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...</p>
<p>By converting each letter in a word to a number corresponding to its alphabetical position and adding these values we form a word value. For example, the word value for SKY is 19 + 11 + 25 = 55 = <i>t</i><sub>10</sub>. If the word value is a triangle number then we shall call the word a triangle word.</p>
<p>Using <a href="https://projecteuler.net/project/resources/p042_words.txt">words.txt</a> (right click and 'Save Link/Target As...'), a 16K text file containing nearly two-thousand common English words, how many are triangle words?</p>
</div><br>
<br></div>

In [0]:
%%time

import requests

dict_ = {
    x: y
    for x, y in zip(
        list("ABCDEFGHIJKLMNOPQRSTUVWXYZ"), [i for i in range(1, 27)]
    )
}


def word_number(x):
    d = [dict_[i] for i in list(x)]
    return sum(d)


file_ = requests.get(
    "https://projecteuler.net/project/resources/p042_words.txt"
)

words_ = file_.content.decode().strip('"').split('","')

num_list = list(
    map(word_number, words_)
)  # map is an object that has to convert to list

max_ = max(num_list)

tri_ = [n * (n + 1) // 2 for n in range(1, int(max(num_list) ** .5) * 2)]

word_with_value_index = {num: word for num, word in zip(num_list, words_)}

n = 0
for num in num_list:
    if num in tri_:  # a reverse function will be faster
        n += 1
        # print(num, word_with_value_index[num])

print(f"total {n} trangle words in the file")

total 162 trangle words in the file
CPU times: user 146 ms, sys: 23.8 ms, total: 170 ms
Wall time: 769 ms

<div id="content">

<h2>Sub-string divisibility</h2><div id="problem_info"><h3>Problem 43 </h3></div>
<div class="problem_content" role="problem">
<p>The number, 1406357289, is a 0 to 9 pandigital number because it is made up of each of the digits 0 to 9 in some order, but it also has a rather interesting sub-string divisibility property.</p>
<p>Let <i>d</i><sub>1</sub> be the 1<sup>st</sup> digit, <i>d</i><sub>2</sub> be the 2<sup>nd</sup> digit, and so on. In this way, we note the following:</p>
<ul><li><i>d</i><sub>2</sub><i>d</i><sub>3</sub><i>d</i><sub>4</sub>=406 is divisible by 2</li>
<li><i>d</i><sub>3</sub><i>d</i><sub>4</sub><i>d</i><sub>5</sub>=063 is divisible by 3</li>
<li><i>d</i><sub>4</sub><i>d</i><sub>5</sub><i>d</i><sub>6</sub>=635 is divisible by 5</li>
<li><i>d</i><sub>5</sub><i>d</i><sub>6</sub><i>d</i><sub>7</sub>=357 is divisible by 7</li>
<li><i>d</i><sub>6</sub><i>d</i><sub>7</sub><i>d</i><sub>8</sub>=572 is divisible by 11</li>
<li><i>d</i><sub>7</sub><i>d</i><sub>8</sub><i>d</i><sub>9</sub>=728 is divisible by 13</li>
<li><i>d</i><sub>8</sub><i>d</i><sub>9</sub><i>d</i><sub>10</sub>=289 is divisible by 17</li>
</ul><p>Find the sum of all 0 to 9 pandigital numbers with this property.</p>

</div><br>
<br></div>

In [0]:
    %%time
    for x in itertools.permutations(list('1234567890')):
        for m, n in zip(range(1, 8), [2,3,5,7,11,13,17]):
            if int(''.join(list(x[m:m+3])).lstrip('0')) % n != 0:
                break
        else: 
            number_ = int(''.join(list(x)))
            print( f'{number_} has this property')
            try: 
                total_sum += number_
                total_num += 1
            except: 
                total_sum = number_
                total_num = 1
    print(f'there are {total_num} numbers has this property, the total sum is {total_sum}')

1430952867 has this property
1460357289 has this property
1406357289 has this property
4130952867 has this property
4160357289 has this property
4106357289 has this property
there are 6 numbers has this property, the total sum is 16695334890
CPU times: user 12.5 s, sys: 27.9 ms, total: 12.5 s
Wall time: 12.6 s

<div id="content">

<h2>Pentagon numbers</h2><div id="problem_info"><h3>Problem 44 </h3></div>
<div class="problem_content" role="problem">
<p>Pentagonal numbers are generated by the formula, P<sub><var>n</var></sub>=<var>n</var>(3<var>n</var>1)/2. The first ten pentagonal numbers are:</p>
<p style="text-align:center;">1, 5, 12, 22, 35, 51, 70, 92, 117, 145, ...</p>
<p>It can be seen that P<sub>4</sub> + P<sub>7</sub> = 22 + 70 = 92 = P<sub>8</sub>. However, their difference, 70 - 22 = 48, is not pentagonal.</p>
<p>Find the pair of pentagonal numbers, P<sub><var>j</var></sub> and P<sub><var>k</var></sub>, for which their sum and difference are pentagonal and D = |P<sub><var>k</var></sub> - P<sub><var>j</var></sub>| is minimised; what is the value of D?</p>
</div><br>
<br></div>

In [0]:
def pentagon_gen():
    for i in itertools.count(1):
        yield i * (3 * i - 1) // 2

In [0]:
def pentagon_under(n):
    for i in range(1, n + 1):
        if i < n:
            yield i * (3 * i - 1) // 2

In [0]:
def pentagon_less_than(n):
    for i in range(1, n):
        if i * (3 * i - 1) // 2 < n + 1:
            yield i * (3 * i - 1) // 2

In [0]:
def is_pent(n):
    x = ((1 + 24 * n) ** .5 + 1) / 6
    return int(x) == x

In [0]:
%%time
l = []
p = pentagon_gen()
list_ = list(pentagon_less_than(8602841))
while 1:
    try:
        if D > 0:
            break
    except:
        pass

    l.append(next(p))

    for p1 in l[:-1]:

        if (p1 + l[-1]) in list_ and (
            abs(p1 - l[-1]) in list_
        ):  # member checking is extremely slow compare to a reverse function
            print(p1, l[-1], p1 + l[-1], abs(p1 - l[-1]))
            D = abs(p1 - l[-1])

1560090 7042750 8602840 5482660
CPU times: user 1min 25s, sys: 23.8 ms, total: 1min 25s
Wall time: 1min 25s

In [0]:
%%time
D = 0
l = []
p = pentagon_gen()
while 1:
    try:
        if D > 0:
            break
    except:
        pass

    l.append(next(p))

    for p1 in l[:-1]:

        if is_pent(p1 + l[-1]) and is_pent(abs(p1 - l[-1])):
            print(p1, l[-1], p1 + l[-1], abs(p1 - l[-1]))
            D = abs(p1 - l[-1])
            print(D)

1560090 7042750 8602840 5482660
5482660
CPU times: user 2.31 s, sys: 12 ms, total: 2.33 s
Wall time: 2.34 s

<div id="content">

<h2>Triangular, pentagonal, and hexagonal</h2><div id="problem_info"><h3>Problem 45 </h3></div>
<div class="problem_content" role="problem">
<p>Triangle, pentagonal, and hexagonal numbers are generated by the following formulae:</p>
<table><tbody><tr><td>Triangle</td>
<td>&nbsp;</td>
<td>T<sub><i>n</i></sub>=<i>n</i>(<i>n</i>+1)/2</td>
<td>&nbsp;</td>
<td>1, 3, 6, 10, 15, ...</td>
</tr><tr><td>Pentagonal</td>
<td>&nbsp;</td>
<td>P<sub><i>n</i></sub>=<i>n</i>(3<i>n</i>-1)/2</td>
<td>&nbsp;</td>
<td>1, 5, 12, 22, 35, ...</td>
</tr><tr><td>Hexagonal</td>
<td>&nbsp;</td>
<td>H<sub><i>n</i></sub>=<i>n</i>(2<i>n</i>-1)</td>
<td>&nbsp;</td>
<td>1, 6, 15, 28, 45, ...</td>
</tr></tbody></table><p>It can be verified that T<sub>285</sub> = P<sub>165</sub> = H<sub>143</sub> = 40755.</p>
<p>Find the next triangle number that is also pentagonal and hexagonal.</p>

</div><br>
<br></div>

In [0]:
def is_tri(n):
    x = 2 + (1 + 8 * n) ** .5
    return x == int(x)

In [0]:
def is_hex(n):
    x = 1 / 4 + (1 + 8 * n) ** .5 / 4
    return x == int(x)

In [0]:
is_hex(45)

True

In [0]:
def d_p_h():
    for i in itertools.count(1):
        if is_pent(i) and is_hex(i):
            yield i

In [0]:
%%time

c_ = 0
for i in (p * (2 * p - 1) for p in itertools.count(2)):

    if c_ > 0:
        break
    if is_pent(i):
        print(i)
        if i > 40755:
            c_ += 1

40755
1533776805
CPU times: user 38.5 ms, sys: 3.99 ms, total: 42.5 ms
Wall time: 43.8 ms

<div id="content">

<h2>Goldbach's other conjecture</h2><div id="problem_info"><h3>Problem 46</h3></div>
<div class="problem_content" role="problem">
<p>It was proposed by Christian Goldbach that every odd composite number can be written as the sum of a prime and twice a square.</p>
<p style="margin-left:10px;">9 = 7 + 2+1<sup>2</sup><br>
15 = 7 + 2+2<sup>2</sup><br>
21 = 3 + 2+3<sup>2</sup><br>
25 = 7 + 2+3<sup>2</sup><br>
27 = 19 + 2+2<sup>2</sup><br>
33 = 31 + 2+1<sup>2</sup></p>
<p>It turns out that the conjecture was false.</p>
<p>What is the smallest odd composite that cannot be written as the sum of a prime and twice a square?</p>

</div><br>
<br></div>

In [0]:
def odd_composite_gen():
    for i in itertools.count(9, 2):
        e = int(i ** .5) + 1
        for j in range(3, e + 1):
            if i % j == 0:
                yield i
                break


def prime_gen(n):
    yield 2
    for i in range(3, n + 1, 2):
        e = int(i ** .5) + 1
        for j in range(2, e + 1):
            if i % j == 0:
                break
        else:
            yield i


def goldbach_conj():
    for n in odd_composite_gen():
        for p, s in itertools.product(prime_gen(n), range(1, int(n ** .5) + 2)):
            # print(n, p, s)
            if n == p + s ** 2 * 2:
                # print(f"{n} = {p} + ({s}**2)*2")
                yield n
                break

        else:
            print(f"got you: {n}")
            break


for i in goldbach_conj():
    pass  # print(i)

got you: 5777