<a href="https://colab.research.google.com/github/uremember809/Project-Euler/blob/master/Project_Euler_(16_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%load_ext lab_black

In [0]:
import numpy as np
import itertools

<div id="content">

<h2>Power digit sum</h2><div id="problem_info"><h3>Problem 16 </h3></div>
<div class="problem_content" role="problem">

<p>2<sup>15</sup> = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.</p>
<p>What is the sum of the digits of the number 2<sup>1000</sup>?</p>

</div></div>

In [0]:
sum([int(x) for x in (str(2 ** 1000))])

1366

<div id="content">

<h2>Number letter counts</h2><div id="problem_info"><h3>Problem 17 </h3></div>
<div class="problem_content" role="problem">
<p>If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.</p>
<p>If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used? </p>
<br><p class="note"><b>NOTE:</b> Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.</p>
</div><br>
<br></div>

In [0]:
def number_to_word(n):

    num = {
        1: "one",
        2: "two",
        3: "three",
        4: "four",
        5: "five",
        6: "six",
        7: "seven",
        8: "eight",
        9: "nine",
        10: "ten",
        11: "eleven",
        12: "twelve",
        13: "thirteen",
        14: "fourteen",
        15: "fifteen",
        16: "sixteen",
        17: "seventeen",
        18: "eighteen",
        19: "nineteen",
        20: "twenty",
        30: "thirty",
        40: "forty",
        50: "fifty",
        60: "sixty",
        70: "seventy",
        80: "eighty",
        90: "ninety",
        100: "one hundred",
        1000: "one thousand",
    }
    if n in num:
        return num[n]
    elif n in range(21, 100):
        if n % 10 != 0:
            num[n] = num[n // 10 * 10] + "-" + num[n % 10]
    elif n % 100 == 0:
        num[n] = num[n // 100] + " hundreds"

    elif n in range(101, 200):
        num[n] = num[n // 100] + " hundred and " + number_to_word(n % 100)
    elif n in range(201, 1000):
        num[n] = num[n // 100] + " hundreds and " + number_to_word(n % 100)
    else:
        pass

    return num[n]

In [0]:
%%time

l_all = 0

for n in range(1, 1001):
    l_all += len(number_to_word(n).replace(" ", "").replace("-", ""))

print(l_all)

21924
CPU times: user 10.4 ms, sys: 0 ns, total: 10.4 ms
Wall time: 10.4 ms

<div id="content">

<h2>Maximum path sum I</h2><div id="problem_info"><h3>Problem 18</h3></div>
<div class="problem_content" role="problem">
<p>By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.</p>
<p style="text-align:center;font-family:'courier new';font-size:12pt;"><span style="color:#ff0000;"><b>3</b></span><br><span style="color:#ff0000;"><b>7</b></span> 4<br>
2 <span style="color:#ff0000;"><b>4</b></span> 6<br>
8 5 <span style="color:#ff0000;"><b>9</b></span> 3</p>
<p>That is, 3 + 7 + 4 + 9 = 23.</p>
<p>Find the maximum total from top to bottom of the triangle below:</p>
<p style="text-align:center;font-family:'courier new';">75<br>
95 64<br>
17 47 82<br>
18 35 87 10<br>
20 04 82 47 65<br>
19 01 23 75 03 34<br>
88 02 77 73 07 63 67<br>
99 65 04 28 06 16 70 92<br>
41 41 26 56 83 40 80 70 33<br>
41 48 72 33 47 32 37 16 94 29<br>
53 71 44 65 25 43 91 52 97 51 14<br>
70 11 33 28 77 73 17 78 39 68 17 57<br>
91 71 52 38 17 14 91 43 58 50 27 29 48<br>
63 66 04 68 89 53 67 30 73 16 69 87 40 31<br>
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23</p>
<p class="note"><b>NOTE:</b> As there are only 16384 routes, it is possible to solve this problem by trying every route. However, <a href="problem=67">Problem 67</a>, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)</p>
</div><br>
<br></div>

In [0]:
x = """75
95 64
17 47 82
18 35 87 10
20 04 82 47 65
19 01 23 75 03 34
88 02 77 73 07 63 67
99 65 04 28 06 16 70 92
41 41 26 56 83 40 80 70 33
41 48 72 33 47 32 37 16 94 29
53 71 44 65 25 43 91 52 97 51 14
70 11 33 28 77 73 17 78 39 68 17 57
91 71 52 38 17 14 91 43 58 50 27 29 48
63 66 04 68 89 53 67 30 73 16 69 87 40 31
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23"""

In [0]:
list_x = list(y.split() for y in x.split("\n"))

In [0]:
arr_x = np.ones((15, 15), dtype=int)

In [0]:
for i, j in itertools.product(range(15), repeat=2):
    try:
        arr_x[i, j] = list_x[i][j]
    except:
        arr_x[i, j] = 0

In [0]:
arr_x

array([[75,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [95, 64,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [17, 47, 82,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [18, 35, 87, 10,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [20,  4, 82, 47, 65,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [19,  1, 23, 75,  3, 34,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [88,  2, 77, 73,  7, 63, 67,  0,  0,  0,  0,  0,  0,  0,  0],
       [99, 65,  4, 28,  6, 16, 70, 92,  0,  0,  0,  0,  0,  0,  0],
       [41, 41, 26, 56, 83, 40, 80, 70, 33,  0,  0,  0,  0,  0,  0],
       [41, 48, 72, 33, 47, 32, 37, 16, 94, 29,  0,  0,  0,  0,  0],
       [53, 71, 44, 65, 25, 43, 91, 52, 97, 51, 14,  0,  0,  0,  0],
       [70, 11, 33, 28, 77, 73, 17, 78, 39, 68, 17, 57,  0,  0,  0],
       [91, 71, 52, 38, 17, 14, 91, 43, 58, 50, 27, 29, 48,  0,  0],
       [63, 66,  4, 68, 89, 53, 67, 30, 73, 16, 69, 87, 40, 31,  0],
       [ 4, 62, 98, 27, 23,  9, 70, 98, 73, 93, 38, 53, 60,  4, 23]])

In [0]:
def path_sum(i, j):

    arr_x_2 = arr_x.copy()

    for x, y in itertools.product(range(i + 1), range(j + 1)):

        if x != 0 and y != 0:
            arr_x_2[x, y] = (
                max(arr_x_2[x - 1, y - 1], arr_x_2[x - 1, y]) + arr_x_2[x, y]
            )

        elif y == 0 and x != 0:
            arr_x_2[x, y] = arr_x_2[x - 1, y] + arr_x_2[x, y]

    return arr_x_2[i, j]

In [0]:
path_sum(1, 0)

170

In [0]:
   %%time

for i in range(15):
    print(path_sum(14, i))

794
855
891
881
927
913
1040
1068
1054
1074
977
992
994
796
724
CPU times: user 5.69 ms, sys: 0 ns, total: 5.69 ms
Wall time: 4.82 ms

<div id="content">

<h2>Counting Sundays</h2><div id="problem_info"><h3>Problem 19 </h3></div>
<div class="problem_content" role="problem">

<p>You are given the following information, but you may prefer to do some research for yourself.</p>
<ul><li>1 Jan 1900 was a Monday.</li>
<li>Thirty days has September,<br>
April, June and November.<br>
All the rest have thirty-one,<br>
Saving February alone,<br>
Which has twenty-eight, rain or shine.<br>
And on leap years, twenty-nine.</li>
<li>A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.</li>
</ul><p>How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?</p>

</div><br>
<br></div>

In [0]:
def cal_gen(y=1900):

    m = 1
    d = 1

    yield d, m, y

    while 1:

        if y % 4 == 0 and y % 100 == 0 and y % 400 != 0 and m == 2 and d == 28:
            d = 1
            m += 1

        elif y % 4 == 0 and m == 2 and d == 29:
            m += 1
            d = 1

        elif m == 2 and d == 28:
            m += 1
            d = 1

        elif m in [9, 4, 6, 11] and d == 30:
            d = 1
            m += 1

        elif d == 31 and m == 12:
            d = 1
            m = 1
            y += 1

        elif d == 31:
            d = 1
            m += 1

        else:
            d += 1

        yield d, m, y

In [0]:
%%time

day_week = itertools.cycle(range(1, 8))
cal = cal_gen()
count_ = 0

while 1:
    w = next(day_week)
    d, m, y = next(cal)

    if y in range(1901, 2001):
        if d == 1 and w == 7:
            count_ += 1
    elif y > 2000:
        break

print(count_)

171
CPU times: user 53.5 ms, sys: 3.75 ms, total: 57.2 ms
Wall time: 56.5 ms

<div id="content">

<h2>Factorial digit sum</h2><div id="problem_info"><h3>Problem 20 </h3></div>
<div class="problem_content" role="problem">
<p><i>n</i>! means <i>n</i> X (<i>n</i> - 1) X ... X 3 X 2 X 1</p>
<p>For example, 10! = 10 X 9 X ... X 3 X 2 X 1 = 3628800,<br>and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27.</p>
<p>Find the sum of the digits in the number 100!</p>

</div><br>
<br></div>

In [0]:
def prod(x):
    from operator import mul
    from functools import reduce

    return reduce(mul, list((x for x in range(1, x + 1))), 1)

In [0]:
%time sum(list(int(x) for x in str(prod(100))))

CPU times: user 172 ÃÂµs, sys: 17 ÃÂµs, total: 189 ÃÂµs
Wall time: 196 ÃÂµs

648